*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  min-width: 0;
  margin: 0;
}

html,
body {
  height: 100%;

  --clr-baby-blue: hsl(209, 56%, 84%);
  --clr-blue-grotto: hsl(207, 61%, 61%);
  --clr-royal-blue: hsl(202, 100%, 36%);
  --clr-navy-blue: hsl(209, 100%, 23%);
  --clr-green: hsl(155, 100%, 25%);

  --fs-primary: 1.25rem;
  --fs-l: 1.4rem;
  --fs-xl: 2rem;

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-primary: "Poppins", sans-serif;

  font-family: var(--ff-primary);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
